canvas {
    border: 8px double blue; /* Optional: Add border for styling */
    width: 100vw; /* Set canvas width to 100% of the viewport width */
    height: 100vh; /* Set canvas height to 100% of the viewport height */
    max-width: 100%; /* Make sure canvas doesn't exceed the width of its container */
    max-height: 100%; /* Make sure canvas doesn't exceed the height of its container */
    overflow: hidden; /* Prevent scroll bars by hiding overflow */
}


#scoreEl {
    position: fixed;
    top: 50px;
    left: 48.5%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #ff6b00;
    
    text-shadow: 0 0 10px #ff6b00, 0 0 20px #ff6b00, 0 0 30px #ff6b00; /* Neon orange glow effect */
}

@keyframes enlargeAnimation {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    75% {
        transform: scale(2.4);
      }
    100% {
        transform: scale(1);
      }
  }
  
  #scoreEl {
    animation: enlargeAnimation 4s ease-in-out infinite; /* 4s for each enlargement iteration */
  }

  
  #modalEl {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #modalEl > .bg-black {
    background-color: black;
    border: 3px double blue;
    border-radius: 20px;
    max-width: 320px;
    width: 100%;
    padding: 24px;
    text-align: center;
  }
  
  #bigScoreEl {
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 1;
    color: #ff6b00;
    text-shadow: 0 0 10px #ff6b00, 0 0 20px #ff6b00, 0 0 30px #ff6b00; /* Neon orange glow effect */
  }
  
  .text-sm {
    font-size: 0.875rem;
    color: #ff6b00;
    margin-bottom: 16px;
  }
  
  #startGameBtn {
    background-color: black;
    color: #fff;
    text-shadow: 0 0 10px #ff6b00, 0 0 20px #ff6b00, 0 0 30px #ff6b00; /* Neon orange glow effect */
    width: 100%;
    padding: 12px;
    border: 2px solid #ff6b00;
    border-radius: 9999px; /* Use a very high value to create a rounded effect */
    font-size: 0.995rem;
  }


.Return {
  background-color: black;
  color: #fff;
  text-shadow: 0 0 10px #ff6b00, 0 0 20px #ff6b00, 0 0 30px #ff6b00; /* Neon orange glow effect */
  width: 100%;
  padding: 12px;
  border: 2px solid #ff6b00;
  border-radius: 9999px; /* Use a very high value to create a rounded effect */
  font-size: 0.995rem;

}
