body {
    border: 8px double blue; /* Optional: Add border for styling */
    width: 100vw; 
    height: 100vh;
    max-width: 100%;
    max-height: 100%; 
    margin-top: 0;
    background-image: url(./assets/Spac-bg.png);
    overflow: hidden;
}


#end {
    font-size: 24px;
    color: white;
    background-color: black;
    border: 4px double #ff6b00;
    border-radius: 30px;
    padding: 10px 20px;
}

#finalscore {
    font-size: 24px;
    color: white;
    background-color: black;
    border: 4px double #ff6b00;
    border-radius: 30px;
    padding: 10px 20px;
}

#input-area {
    font-size: 24px;
    color: white;
    background-color: black;
    border: 4px double #ff6b00;
    border-radius: 30px;
    padding: 10px 20px;
}
#input {
    font-size: 24px;
    color: white;
    background-color: black;
    border: 4px double #ff6b00;
    border-radius: 30px;
    padding: 10px 20px;
}

#submit {
    font-size: 24px;
    color: white;
    background-color: black;
    border: 4px double #ff6b00;
    border-radius: 30px;
    padding: 10px 20px;
}